@model IEnumerable<KrompirApp.ETIKETA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SIFRAPAKOVANJA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REDNIBROJZAHTJEVAPROIZVODJACA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZASTITA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROIZVODJAC.IME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIFRA_SORTE.NAZIV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SIFRAPAKOVANJA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REDNIBROJZAHTJEVAPROIZVODJACA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZASTITA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROIZVODJAC.IME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIFRA_SORTE.NAZIV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ETIKETAID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ETIKETAID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ETIKETAID })
        </td>
    </tr>
}

</table>
