@model KrompirApp.DNEVNIK_PARCELE

@{
    ViewBag.Title = "Dodavanje";
}

<h2>Dodavanje</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DNEVNIK_PARCELE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.PARCELAID, "PARCELAID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PARCELAID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PARCELAID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAZIVRADNEOPERACIJE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAZIVRADNEOPERACIJE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAZIVRADNEOPERACIJE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATUM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATUM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATUM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KORISCENOPOGONSKOSREDSTVOMEHANIZACIJE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KORISCENOPOGONSKOSREDSTVOMEHANIZACIJE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KORISCENOPOGONSKOSREDSTVOMEHANIZACIJE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KORISCENIPRIKLJUCAK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KORISCENIPRIKLJUCAK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KORISCENIPRIKLJUCAK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAZIVKORISCENOGPOTROSNOGMATERIJALA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAZIVKORISCENOGPOTROSNOGMATERIJALA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAZIVKORISCENOGPOTROSNOGMATERIJALA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JEDINICAMJERE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JEDINICAMJERE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JEDINICAMJERE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KOLICINAUTROSENOGPOTROSNOGMATERIJALA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KOLICINAUTROSENOGPOTROSNOGMATERIJALA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KOLICINAUTROSENOGPOTROSNOGMATERIJALA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UTROSENOVRIJEMERADAMEHANIZACIJE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UTROSENOVRIJEMERADAMEHANIZACIJE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UTROSENOVRIJEMERADAMEHANIZACIJE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UTROSENOVRIJEMERADARADNIKA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UTROSENOVRIJEMERADARADNIKA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UTROSENOVRIJEMERADARADNIKA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad", "Index", "Parcela", new { id = Model.PARCELA.PROIZVODJACID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
