@model KrompirApp.PRINOS_PARCELE

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>PRINOS_PARCELE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROIZVEDENAKOLICINA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROIZVEDENAKOLICINA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARCELA.MJESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARCELA.MJESTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { id = Model.PRINOSID }) |
    @Html.ActionLink("Nazad", "Index", new { id = Model.PARCELAID })
</p>
