@model KrompirApp.PARCELA

@{
    ViewBag.Title = "Izmjena";
}

<h2>Izmjena</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PARCELA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PARCELAID)

        <div class="form-group">
            @Html.LabelFor(model => model.PROIZVODJACID, "PROIZVODJAC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PROIZVODJACID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PROIZVODJACID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MJESTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MJESTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MJESTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KATASTARSKAOPSTINA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KATASTARSKAOPSTINA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KATASTARSKAOPSTINA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KCBROJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KCBROJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KCBROJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POVRSINA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.POVRSINA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POVRSINA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PREDUSJEV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PREDUSJEV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PREDUSJEV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SORTAID, "SORTAID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SORTAID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SORTAID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POSADJENAKATEGORIJASADNOGMATERIJALA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.POSADJENAKATEGORIJASADNOGMATERIJALA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POSADJENAKATEGORIJASADNOGMATERIJALA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATUMSADNJE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATUMSADNJE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATUMSADNJE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POSADJENAKOLICINA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.POSADJENAKOLICINA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POSADJENAKOLICINA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapamti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad", "Index", new { id = Model.PROIZVODJACID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
